body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.navbar {
    display: flex;
    background-color: rgb(52, 53, 54);
    position: fixed;
    top: 0px;
    width: 100%;
    font-size: 20px;
}

.nav-right {
    text-align: right;
    float: right;
}

.nav-right li {
    display: inline;
    float: left;
    padding-left: 15px;
}

.nav-right li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.nav-right li ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

.nav-right li a:hover {
    background-color: rgb(0, 0, 0);
}

.nav-right .active {
    background-color: rgb(4, 170, 109);
}

h1 {
    margin-top: 50px
}

h2 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart-items-list {
    list-style: none;
    padding: 0;
}

#cart-items-list li {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}